.container_box {
    width: min(100% 1440px);

}

/* davaleba 1 */
.button_div {
    display: flex;
    background-color: violet;
    width: calc(500 / 1440 * 100%);
    margin: 100px auto;
}

.btn {
    color: white;
    background-color: rgb(171, 20, 218);
    width: 150px;
    height: 50px;
    margin: 100px auto;
    border-radius: 17px;
    cursor: pointer;
    border: none;
    text-shadow: 2px 2px 2px black;
    box-shadow: -2px -2px 3px 1px white, 3px 3px 3px 1px black;
}

.btn:active {
    text-shadow: 1px 1px 1px black;
    box-shadow: -2px -2px 3px 1px white inset, 3px 3px 3px 1px black inset;
}

/* davaleba 2  */
.image_div {
    display: block;
    width: 300px;
    height: 250px;
    margin: auto;
    padding: 20px 20px;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;


}

.divImage {
    width: 100%;
    transition: all;
    transition-duration: 1s;
    transition-timing-function: linear;
}

.image_div:hover {
    border-radius: 10px;
    box-shadow: 2px 2px 3px cyan, -2px -2px 3px cyan;

}

.divImage:hover {
    border-radius: 15px 15px 0 0;

}

/* davaleba 3 */
.P_TEXT {
    margin-bottom: 100px;
    font-size: 140px;
    color: red;
    letter-spacing: 20px;
    animation: P_animation .5s infinite;
}

@keyframes P_animation {
    from {
        color: red;
    }

    to {
        color: black;
    }
}

/* davaleba 4 */
.spinner {

    display: flex;
    margin: auto;
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border: 15px solid red;
    border-bottom: 15px solid green;
    border-left: 15px solid orange;
    border-radius: 50%;
    animation: spinner 1s linear infinite;

}

@keyframes spinner {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.spinner:hover {
    animation-play-state: paused;
}

span {
    animation-play-state: paused;
}

/* am spinerma lamis klaviatura damalewina vnebdebi  */




/* davaleba 5 */
header {
    background-color: green;
    display: flex;
    justify-content: center;
    padding: 75px 75px;
}

ul {
    display: flex;
    column-gap: 50px;
}

.header_text {
    font-size: 50px;
    color: white;
    text-shadow: 2px 2px 2px black;
    transition: all 1s;

}

a:hover {
    text-shadow: 1px 1px 10px rgb(168, 12, 168),
        2px 2px 15px rgb(141, 7, 141),
        3px 3px 20px rgb(116, 5, 116),
        1px 1px 25px rgb(168, 12, 168);
}
/* davaleba 6 */